<html>
<head>
<title>gosim log viewer</title>
<script src="https://unpkg.com/htmx.org@2.0.3/dist/htmx.js" integrity="sha384-BBDmZzVt6vjz5YbQqZPtFZW82o8QotoM7RUp5xOxV3nSJ8u2pSdtzFAbGKzTlKtg" crossorigin="anonymous"></script>
<style>
.selected {
    background-color: #F37736;
}
.tooltipper {
    position: relative;
}
.tooltip {
    display: none;
    position: absolute;
    background: white;
    z-index: 1000;
    padding: .1em;
    left: 105%;
}
.tooltipper:hover .tooltip {
    display: block;
}
</style>
</head>
<body>
<div style="display: flex; overflow: hide; height: 100%">
    <div style="width: 50%; display: flex; flex-direction: column;">
        <div>
            <pre>focus: {{ if .Focus }}{{ .Focus }} <a href="/">all logs</a>{{ else }}all logs{{ end }}</pre>
        </div>
        <div style="overflow: scroll; font-family: monospace;">
{{ range .Logs }}
    <span>
        {{ .Step }}
        <a href="/?focus=machine:{{ .Machine }}">{{ .Machine }}</a>/<a href="/?focus=goroutine:{{ .Goroutine }}">{{.Goroutine}}</a>
        {{.Time | Time }}
        {{ .Level }}
        <a href="#" onclick="show({index: {{ .Index }}, source: {{ .Source }} })">{{ .Source | Source }}</a>
        &gt;
        <pre style="display: inline">{{ .Msg }}</pre>
    </span><br>
{{ end }}
        </div>
    </div>
    <div style="width: 50%; display: flex; flex-direction: column;">
        <div id="source" style="height: 50%; overflow: scroll">
        </div>
        <div id="stack" style="height: 50%; overflow: scroll">
        </div>
    </div>
</div>
<script>
var curFile = undefined;
function show(opts) {
    if (opts.index !== undefined) {
        htmx.ajax("GET", "/stack?index=" + opts.index, "#stack");
    }
    if (opts.source !== undefined) {
        htmx.ajax("GET", "/viewer?file=" + encodeURIComponent(opts.source.file) + "&line=" + opts.source.line, "#source");
    }
}
function scrollTo(file, line) {
    var element = document.getElementById("L"+line);
    var newFile = file;
    if (newFile !== curFile) {
        curFile = newFile;
        element.scrollIntoView({block: "center"});
    } else {
        element.scrollIntoViewIfNeeded({block: "center"});
    }
}
</script>
</body>
</html>