{{ range .Logs }}
    <span>
        {{ .Step }}
        <a href="#" onclick="setFilter({focus: 'machine:{{ .Machine }}'})">{{ .Machine }}</a>/<a href="#" onclick="setFilter({focus: 'goroutine:{{ .Goroutine }}'})">{{.Goroutine}}</a>
        {{.Time | Time }}
        {{ .Level }}
        <a href="#" onclick="show({index: {{ .Index }}, source: {{ .Source }} })">{{ .Source | Source }}</a>
        &gt;
        <pre style="display: inline; text-wrap: wrap;">{{ .Msg }}</pre>
    </span><br>
{{ end }}
{{ if .Truncated }}and more...{{ end }}
